@font-face {
    font-family: 'Poppins';
    src: url('./Poppins-Black.woff2') format('woff2'),
         url('./Poppins-Black.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
.iconanalystic{
			height: 30px; width: 40px;
}
.signup {
	margin: 30px;
	padding: 10px:;
	background: rgba(51, 51, 51, 1);
}
.login {
	margin: 30px;
	padding: 10px;
	background: rgba(51, 51, 51, 1)
}
section{
	background: rgba(47, 128, 237, 1);
	display: inline-block;
	width: 400px;
	height: 900px;
	left: 0px;
	top: 0px;
}
.analytics{
background: rgba(255, 255, 255, 1);
display: inline-block;
width: 10px;
height:  10px;
left: 10px;
top: px;
}
.websites {
	 font-family: 'Poppins';
}
h3 {
	font-family: 'Poppins';
}