.iconanalystic{
			height: 30px; width: 40px;
}
.signup {
	margin: 30px;
	padding: 10px:;
	background: rgba(51, 51, 51, 1);
}
.login {
	margin: 30px;
	padding: 10px;
	background: rgba(51, 51, 51, 1)
}
section{
	background: rgba(47, 128, 237, 1);
	display: inline-block;
	width: 400px;
	height: 900px;
	left: 0px;
	top: 0px;
}